BODY {
     background-color: rgb(20,20,20)
}
img {
    border-radius:10px;
    opacity:1; 
}
.cheburek {
    border-radius:10px;
    opacity:0.5; 
}
.cheburek:hover {
    border-radius:10px;
    opacity:1;
    transition:all 2s ease-out; 
    
}
.cheburek:hover::after {
    border-radius:10px;
    opacity:0.5;
    transition:all 2s ease-out;  
}
img:hover {
    border-radius:10px;
    opacity:1;
    transition:all 2s ease-out; 
    
}
img:hover::after {
    border-radius:10px;
    opacity:1;
    transition:all 2s ease-out;  
}
.logotext {
     float:right
} 
.forge {
     float:right
} 
.papermc {
     float:left
}
.vanilla{
     float:left
}
nav {
    margin: 5px;
    padding: 5px;
    border:  3px solid rgb(20,20,20);
    background-color: rgb(36,36,33);
    border-radius: 6px; 
    opacity:1
}
nav a {
    margin: 20px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
footer {
    margin: 10px;
    padding: 10px;
    border:  3px solid darkgreen;
    background-color: green;
    border-radius: 10px;
}
footer p {
    margin: 30px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
iframe {
        border-radius:60px;
        opacity:0.5;
}
iframe:hover {
              opacity:1;
              transition:all 3s ease-out;
}                          
h3 {
    color:white;
}       
h2 {
    color:white;
    font-weight:3; 
}        
h1 {
   color:white; 
   font-weight:3; 
   font-size:70; 
}
p {
   color:white;
}
.jump-once {
            display: inline-block; /* Чтобы transform работал правильно */
        }   
            
.jump-once:hover {
            animation: jump 0.5s ease 1; /* "1" означает один повтор */
        }
        
@keyframes jump {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-20px);
            }
            100% {
                transform: translateY(0);
            }
